# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local data
data/raw/*
!data/raw/.gitkeep

# Logs
*.log